include simglucose/params/*.csv
include LICENSE
include *.py
include examples/*.py
include tests/*.py
include tests/*.csv
recursive-include simglucose *.py
include README.md
include tests/*.csv
include examples/results/2017-12-31_17-46-32/*.csv