include simglucose/params/*.csv
include LICENSE
include *.py
include examples/*.py
include tests/*.py
recursive-include simglucose *.py
include README.md
include tests/*.csv
include examples/results/*.csv