certifi>=2023.7.22
charset-normalizer>=3.2.0
cloudpickle>=2.2.1
contourpy>=1.1.0
cycler>=0.11.0
dill>=0.3.7
Farama-Notifications>=0.0.4
fonttools>=4.42.0
gym==0.9.4
gymnasium~=0.29.1
idna>=3.4
iniconfig>=2.0.0
kiwisolver>=1.4.4
matplotlib>=3.7.2
multiprocess>=0.70.15
numpy>=1.25.0
packaging>=23.1
pandas>=2.0.3
pathos>=0.3.1
Pillow>=10.0.0
pluggy>=1.2.0
pox>=0.3.3
ppft>=1.7.6.7
pyglet>=2.0.9
pyparsing>=3.0.9
pytest>=7.4.0
python-dateutil>=2.8.2
pytz>=2023.3
requests>=2.31.0
scipy>=1.11.0
six>=1.16.0
typing_extensions>=4.7.1
tzdata>=2023.3
urllib3>=2.0.4
