backports.functools-lru-cache==1.4
cycler==0.10.0
dill==0.2.7.1
matplotlib==2.1.1
multiprocess==0.70.5
numpy==1.13.3
pandas==0.22.0
pathos==0.2.1
pox==0.2.3
ppft==1.6.4.7.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scipy==1.0.0
simglucose==0.1.1
six==1.11.0
subprocess32==3.2.7
